<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card bg-dark my-1">
        <div class="card-body">
          <ul class="text-center list-inline py-3">
            <li class="list-inline-item">
              <a routerLink="/employees" class="btn btn-info">List Employees</a>
                </li>
            <li class="list-inline-item">
              <a routerLink="/addEmployee" class="btn btn-info">Add Employee</a>
                </li>
          </ul>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>