<ul class="text-center">
  <li class="list-inline-item">
    <a routerLink="/projects" class="btn btn-warning">List Projects</a>
      </li>
  <li class="list-inline-item">
    <a routerLink="/addProject" class="btn btn-info">Add Project</a>
      </li>
</ul>
<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col"></th>
          <th scope="col">Project Name</th>
          <th scope="col">Client Name</th>
          <th scope="col">Start Date</th>
          <th scope="col">End Date</th>
          <th scope="col">Weekly Hours</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let project of projects">
          <td><input type="checkbox" (click)="onSelectList(project)"></td>
          <td><a routerLink="/viewProject/{{project.id}}">{{ project.projectName }}</a></td>
          <td>{{ project.clientName }}</td>
          <td>{{ project.startDate }}</td>
          <td>{{ project.endDate }}</td>
          <td>{{ project.weeklyHours }}</td>
          <td>{{ project.status }}</td>
        </tr>
      </tbody>
    </table>
    <button [disabled]="selectedProjects && selectedProjects.length ===1?false:true" (click)="editProject(selectedProjects[0])">Edit</button>
    <button [disabled]="selectedProjects && selectedProjects.length ===1?false:true"
    style="margin-left: 1em;" (click)="startProject(selectedProjects[0])" >Start</button>
    <button [disabled]="selectedProjects && selectedProjects.length ===1?false:true" (click)="closeProject(selectedProjects[0])"
    style="margin-left: 1em;">Close</button>
    <button
    style="margin-left: 1em;" [disabled]="selectedProjects && selectedProjects.length ===1?false:true" (click)="completeProject(selectedProjects[0])">Complete</button>
    <button routerLink="/addProject" style="float: right;border-radius: 50%; border-color: black;">+
    </button>
  </div>
</div>