<ul class="text-center">
  <li class="list-inline-item">
    <a routerLink="/projects" class="btn btn-info">List Projects</a>
      </li>
  <li class="list-inline-item">
    <a routerLink="/addProject" class="btn btn-info">Add Projects</a>
      </li>
</ul>
<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col"></th>
          <th scope="col">Project Name</th>
          <th scope="col">Client Name</th>
          <th scope="col">Start Date</th>
          <th scope="col">End Date</th>
          <th scope="col">Weekly Hours</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let project of projects">
          <td><input type="checkbox"></td>
          <td><a routerLink="/viewProject/{{project.id}}">{{ project.projectName }}</a></td>
          <td><a routerLink="/viewProject/{{project.id}}">{{ project.clientName }}</a></td>
          <td>{{ project.startDate }}</td>
          <td>{{ project.endDate }}</td>
          <td>{{ project.weeklyHours }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>