<ul class="text-center">
  <li class="list-inline-item">
    <a routerLink="/employees" class="btn btn-info">List Employees</a>
      </li>
  <li class="list-inline-item">
    <a routerLink="/addEmployee" class="btn btn-info">Add Employee</a>
      </li>
</ul>
<div class="card my-5">
  <div *ngIf="selectedUser" class="card-body">
    <p style="left: 8.5%; position: absolute; font-size: larger;"><strong>{{ selectedUser.firstName }} {{ selectedUser.lastName }}</strong></p>
    <br>
    <br>
    <p><strong>Email</strong> <a href="mailto: {{ selectedUser.email }}" style="left: 14%; position: absolute;">{{ selectedUser.email }}</a></p>
    <p><strong>Department</strong> <span style="left: 14%; position: absolute;">{{ selectedUser.department }}</span></p>
    <p><strong>Manager</strong> <span style="left: 14%; position: absolute;">{{ selectedUser.manager }}</span></p>
    <p><strong>Start Date</strong> <span style="left: 14%; position: absolute;">{{ selectedUser.startDate }}</span></p>
    <p><strong>End Date</strong> <span style="left: 14%; position: absolute;">{{ selectedUser.endDate }}</span></p>
    <p><strong>Location</strong> <span style="left: 14%; position: absolute;">{{ selectedUser.location }}</span></p>
    <p><strong>Time Zone</strong> <span style="left: 14%; position: absolute;">{{ selectedUser.timezone }}</span></p>
    <p><strong>Working Hours</strong> <span style="left: 14%; position: absolute;">{{selectedUser.workingHours}} </span></p>
    <div class="vl">
    </div>
    <div style="float: right; justify-content: space-evenly;">
      <a routerLink="/employees">&larr;Go Back</a>
      <button (click)="email(selectedUser)">Contact</button>
      <button routerLink="/editEmployee/{{selectedUser.id}}">Edit</button>
      <button (click)="deleteUser(selectedUser)" style="margin-right: 0em;">Delete</button>
    </div>
  </div>
</div>
