<ul class="text-center">
  <li class="list-inline-item">
    <a routerLink="/projects" class="btn btn-info">List Projects</a>
      </li>
  <li class="list-inline-item">
    <a routerLink="/addProject" class="btn btn-warning">Add Project</a>
      </li>
</ul>
<div class="card my-5">
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #projectForm="ngForm">
      <div class="form-group">
        <p><strong>Project Information</strong></p>
        <div>
          <label for="projectName">&emsp;Project Name<span style="color: red;">*</span></label>
          <input type="text" [(ngModel)]="project.projectName"
          name="projectName"
          required #projectName="ngModel"
          pattern="[a-zA-Z0-9 -]*">
          <div *ngIf="projectName.invalid && projectName.touched"
          class="alert alert-danger">
            <div *ngIf="projectName.errors?.required && projectName.touched">Project name is required</div>
            <div *ngIf="projectName.errors?.pattern && projectName.touched">{{projectName.value}} is an invalid project name. Please enter a valid one.</div>
          </div>
        </div>
        <div>
          <label for="clientName">&emsp;Client Name<span style="color: red;">*</span></label>
          <input type="text" [(ngModel)]="project.clientName"
          name="clientName"
          required #clientName="ngModel"
          pattern="[a-zA-Z0-9 -]*">
          <div *ngIf="clientName.invalid && clientName.touched"
          class="alert alert-danger">
            <div *ngIf="clientName.errors?.required && clientName.touched">Client name is required</div>
            <div *ngIf="clientName.errors?.pattern && clientName.touched">{{clientName.value}} is an invalid client name. Please enter a valid one.</div>
          </div>
        </div>
        <div>
          <label for="department">&emsp;Department <span style="color: red;">*</span></label>
          <select id="department" required name="department"
          #department="ngModel" [(ngModel)]="project.department">
            <option *ngFor="let department of departments" [value]="department">
              {{department}}
            </option>
          </select>
        </div>
        <div>
          <label for="teamSize">&emsp;Team Size<span style="color: red;">*</span></label>
          <input type="number" [(ngModel)]="project.teamSize"
          name="teamSize"
          min="1"
          value="1"
          appForbiddenHoursNeeded="project"
          #teamSize="ngModel"
          required>
        <div *ngIf="teamSize.invalid && (teamSize.dirty || teamSize.touched)"
        class="alert alert-danger">
          <div *ngIf="teamSize.errors?.forbiddenHoursNeeded">
            The following value cannot be processed {{teamSize.errors?.forbiddenHoursNeeded?.value}},
            {{printForbiddenMessageWeeklyHours(teamSize.errors?.forbiddenHoursNeeded?.value)}}
          </div>
          <div *ngIf="!teamSize.errors?.forbiddenHoursNeeded && teamSize.errors.required">
            Hours needed is required.
          </div>
        </div>
        </div>
        <div>
          <label for="projectGoal">&emsp;Project Description<span style="color: red;">*</span></label>
          <textarea [(ngModel)]="project.projectGoal"
          name="projectGoal"
          required #projectGoal="ngModel"></textarea>
        </div>
      </div>
      <hr>
      <div class="form-group">
        <p><strong>Project Logistics</strong></p>
        <div>
          <label for="startDate">&emsp;Start Date<span style="color: red;">*</span></label>
          <input type="date" [(ngModel)]="project.startDate"
          name="startDate"
          required #startDate="ngModel">
        </div>
        <div>
          <label for="endDate">&emsp;End Date<span style="color: red;">*</span></label>
          <input type="date" [(ngModel)]="project.endDate"
          name="endDate"
          required #endDate="ngModel">
          <div *ngIf="endDate.touched && validateEndDate(endDate,startDate)"
          class="alert alert-danger">
            <div *ngIf="endDate.errors?.required && endDate.touched">End Date is a required field.</div>
          </div>
          <div  class="alert alert-danger" *ngIf="endDate.touched && inValidDate">End date cannot be before start date. Please enter a valid end date.</div>
        </div>
        <div>
          <label for="weeklyHours">&emsp;Weekly Hours<span style="color: red;">*</span></label>
          <input type="number" [(ngModel)]="project.weeklyHours" id="number"
          name="weeklyHours"
          #weeklyHours="ngModel"
          appForbiddenHoursNeeded="project"
          required>
          <div *ngIf="weeklyHours.invalid && (weeklyHours.dirty || weeklyHours.touched)"
          class="alert alert-danger">
            <div *ngIf="weeklyHours.errors?.forbiddenHoursNeeded">
              The following value cannot be processed {{weeklyHours.errors?.forbiddenHoursNeeded?.value}},
              {{printForbiddenMessageWeeklyHours(weeklyHours.errors?.forbiddenHoursNeeded?.value)}}
            </div>
            <div *ngIf="!weeklyHours.errors?.forbiddenHoursNeeded && weeklyHours.errors.required">
              Hours needed is required.
            </div>
          </div>
        </div>
      </div>
    </form>
    <button type="button" (click)="goBack($event)">&larr;Go Back</button>
    <button type="submit" (click)="onSubmit()" [disabled]="projectForm.form.invalid" style="margin-left: 1em;">Save</button>
  </div>
</div>