<ul class="text-center">
  <li class="list-inline-item">
    <a routerLink="/employees" class="btn btn-info">List Employees</a>
      </li>
  <li class="list-inline-item">
    <a routerLink="/addEmployee" class="btn btn-info">Add Employee</a>
      </li>
</ul>
<div class="card my-5">
  <div class="card-body">
    <label for="employeeType">&emsp;Employee Type&emsp;</label>
    <select id="employeeType" required name="employeeType" (change)="getEmployeeByType()">
      <option value="Active">Active</option>
      <option value="Inactive">Inactive</option>
      <option value="Both">Both</option>
    </select>
    <br>
    <!--<input type="text" name="firstName" placeholder="First Name" style="margin-left: 2.75em; width: 10.25em;"
    pattern="[a-zA-Z ]*">

    <input type="text" name="lastName" placeholder="Last Name"  style="margin-left: 0.25em; width: 10.25em;"
    pattern="[a-zA-Z ]*">

    <select name="department" style="margin-left: 0.25em; width: 11.25em;">
      <option disabled selected>Department</option>
      <option *ngFor="let department of departments" [value]="department">
        {{department}}
      </option>
    </select>

    <input type="text"name="managerName" placeholder="Manager Name" pattern="[a-zA-Z ]+"
    style="margin-left: 0.25em; width: 14em;">

    <input type="text" name="location" placeholder="Location" style="margin-left: 0.25em; width: 8.65em;"
    pattern="[a-zA-Z ]+">

    <select name="role" style="margin-left: 0.25em; width: 6.25em;">
      <option disabled selected>Role</option>
      <option *ngFor="let role of roles" [value]="role">
        {{role}}
      </option>
    </select>-->

    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col"></th>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Department</th>
          <th scope="col">Manager Name</th>
          <th scope="col">Location</th>
          <th scope="col">Roles</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
          <td><input (click)="onSelectList(user)" type="checkbox"></td>
          <td><a routerLink="/viewEmployee/{{user.id}}">{{ user.firstName }}</a></td>
          <td><a routerLink="/viewEmployee/{{user.id}}">{{ user.lastName }}</a></td>
          <td>{{ user.department }}</td>
          <td>{{ user.manager }}</td>
          <td>{{ user.location }}</td>
          <td>{{ user.role }}</td>
        </tr>
      </tbody>
    </table>
    <button [disabled]="selectedUsers && selectedUsers.length ===1?false:true" (click)="editUser(selectedUsers[0])">Edit</button>
    <button [disabled]="selectedUsers && selectedUsers.length ===1?false:true" (click)="deleteUser(selectedUsers[0])"
    style="margin-left: 1em;">Delete</button>
    <button routerLink="/addEmployee" style="float: right;border-radius: 50%; border-color: black;">+
    </button>
  </div>
</div>
<!-- routerLink="/editEmployee/{{selectedUsers[0].id}}" -->