<link rel="stylesheet" href="user-form.component.css">
<ul class="text-center">
  <li class="list-inline-item">
    <a routerLink="/employees" class="btn btn-info">List Employees</a>
      </li>
  <li class="list-inline-item">
    <a routerLink="/addEmployee" class="btn btn-warning">Add Employee</a>
      </li>
</ul>
<div class="card my-5">
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #userForm="ngForm" *ngIf="user!==undefined">
      <div class="form-group">
        <p><strong>Contact Information</strong></p>
        <div>
          <label for="firstName">&emsp;First Name<span style="color: red;">*</span></label>
          <input type="text" [(ngModel)]="user.firstName"
          name="firstName"
          required #firstName="ngModel"
          pattern="[a-zA-Z ]*">
          <div *ngIf="firstName.invalid && firstName.touched"
          class="alert alert-danger">
            <div *ngIf="firstName.errors?.required && firstName.touched">First name is required</div>
            <div *ngIf="firstName.errors?.pattern && firstName.touched">{{firstName.value}} is an invalid first name. Please enter a valid one.</div>
          </div>
        </div>
      <div>
        <label for="lastName">&emsp;Last Name<span style="color: red;">*</span></label>
        <input type="text" [(ngModel)]="user.lastName"
          id="name"
          name="name"
          required #lastName="ngModel"
          pattern="[a-zA-Z ]*">
          <div *ngIf="lastName.invalid && lastName.touched"
          class="alert alert-danger">
            <div *ngIf="lastName.errors?.required && lastName.touched">Last name is required</div>
            <div *ngIf="lastName.errors?.pattern && lastName.touched">{{lastName.value}} is an invalid last name. Please enter a valid one.</div>
          </div>
      </div>
        <label for="email">&emsp;Email<span style="color: red;">*</span></label>
        <input type="email" [(ngModel)]="user.email"
          id="email"
          name="email"
          placeholder="someone@example.com"
          [email]="user.email!==''"
          required #email="ngModel">
          <div *ngIf="email.invalid && email.touched"
          class="alert alert-danger">
            <div *ngIf="email.errors?.required && email.touched">Email is required</div>
            <div *ngIf="email.errors?.email && email.touched">{{email.value}} is an invalid email. Please enter a valid email.</div>
          </div>
      </div>
      <hr>
      <div class="form-group">
        <p><strong>Employee Information</strong></p>
        <div>
          <label for="role">&emsp;Role<span style="color: red;">*</span></label>
          <select id="role" required name="role" [(ngModel)]="user.role" #role="ngModel">
            <option *ngFor="let role of roles" [value]="role">
              {{role}}
            </option>
          </select>
        </div>
        <div>
          <label for="skills">&emsp;Skills</label>
          <select id="skills" name="skill" [(ngModel)]="user.skills" #skill="ngModel">
            <option *ngFor="let skill of skills" [value]="skill">
              {{skill}}
            </option>
          </select>
          <button type="button" (click)="addSkill()">Add Skill</button>
          <div style="border-color: black; border-style:solid; border-width: 1px; margin-top: 1em; margin-left: 1em;"
          [hidden]="selectedSkills.length===0">
            <span *ngFor="let skills of selectedSkills">
              <button class="btn btn-info"
               type="button" (click)="removeSkill(skills)"
               style="margin-top: 5px; margin-bottom: 5px;">{{skills}} X</button>
            </span>
          </div>
        </div>
        <div>
          <label for="department">&emsp;Department<span style="color: red;">*</span></label>
          <select id="department" required name="department"
          #department="ngModel" [(ngModel)]="user.department">
            <option *ngFor="let department of departments" [value]="department">
              {{department}}
            </option>
          </select>
        </div>
        <div>
          <label for="managerName">&emsp;Manager Name<span style="color: red;">*</span></label>
          <input type="text" [(ngModel)]="user.manager"
            id="managerName"
            name="managerName"
            required #managerName="ngModel"
            pattern="[a-zA-Z ]+">
          <div *ngIf="managerName.invalid && managerName.touched"
          class="alert alert-danger">
            <div *ngIf="managerName.errors?.required && managerName.touched">Manager Name is a required field.</div>
            <div *ngIf="managerName.errors?.pattern && managerName.touched">{{ managerName.value }} is an invalid manager name. Please enter a valid manager name.</div>
          </div>
        </div>
      </div>
      <hr>
      <div class="form-group">
        <p><strong>Location and Logistics</strong></p>
        <div>
          <label for="startDate">&emsp;Start Date<span style="color: red;">*</span></label>
          <input type="date" [(ngModel)]="user.startDate"
            id="startDate"
            name="startDate"
            required #startDate="ngModel">
        </div>
        <div>
          <label for="endDate">&emsp;End Date</label>
          <input type="date" [(ngModel)]="user.endDate"
          name="endDate"
          #endDate="ngModel">
          <div *ngIf="endDate.touched && validateEndDate(endDate,startDate)"
          class="alert alert-danger">
            <div *ngIf="endDate.errors?.required && endDate.touched">End Date is a required field.</div>
          </div>
          <div  class="alert alert-danger" *ngIf="endDate.touched && inValidDate">End date cannot be before start date. Please enter a valid end date.</div>
        </div>
        <div>
          <label for="location">&emsp;Location</label>
          <input type="text" [(ngModel)]="user.location"
            id="location"
            name="location"
            #location="ngModel"
            pattern="[a-zA-Z ]+">
          <div *ngIf="location.invalid && location.touched"
          class="alert alert-danger">
            <div *ngIf="location.errors?.pattern && location.touched">{{location.value}} is an invalid location. Please enter a valid one.</div>
          </div>
        </div>
        <div>
          <label for="timezone">&emsp;Time Zone<span style="color: red;">*</span></label>
          <select [(ngModel)]="user.timezone"
            id="timezone"
            name="timezone"
            required
            #timeZone="ngModel">
            <option value="PST">
              (UTC -08:00) Pacific Standard Time
            </option>
            <option value="EST">
              (UTC -05:00) Eastern Standard Time
            </option>
            <option value="IST">
              (UTC +05:30) India Standard Time
            </option>
          </select>
        </div>
        <div>
          <label for="workingHours">&emsp;Employee Type<span style="color: red;">*</span></label>
          <select [(ngModel)]="user.workingHours"
            id="workingHours"
            name="workingHours"
            required
            #workingHours="ngModel">
            <option value="Part Time">
              Part Time
            </option>
            <option value="Full Time">
              Full Time
            </option>
            <option value="Temporary">
              Temporary
            </option>
          </select>
        </div>
      </div>
      <button type="button" (click)="goBack()">&larr;Go Back</button>
      <button type="submit" [disabled]="userForm.form.invalid?true:false" (onclick)="onSubmit()">Save</button>
    </form>
  </div>
</div>