input, datalist, select {
  margin-left: 9em;
  margin-top: 1ex;
}
label {
  position: absolute;
  margin-top: 1ex;
}

#endTime {
  margin-left: 0em;
  position: relative;
  margin-top: 0ex;
}

button {
  margin-left: 1em;
}